<div class="input-prompt-container d-flex flex-column align-items-center">
  <div mat-dialog-content>
    <mat-form-field class="example-full-width">
      <input matInput [placeholder]="promptMessage" [(ngModel)]="photoDescription">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button class="cancel-button" (click)="onActionClick(false)" cdkFocusInitial>Cancel</button>
    <button mat-button class="confirm-button" [mat-dialog-close]="{}" (click)="onActionClick(true)">Upload</button>
  </div>
</div>