@import '~@angular/material/theming';
@import '~firebaseui/dist/firebaseui.css';
@import "~bootstrap/dist/css/bootstrap.css";

@include mat-core();

$my-theme-primary: mat-palette($mat-blue-grey, 400);
$my-theme-accent: mat-palette($mat-green, 500);
$my-theme-warn: mat-palette($mat-green, A400);

$my-theme: mat-light-theme(
  $my-theme-primary,
  $my-theme-accent,
  $my-theme-warn,
);

html, body {
  @include angular-material-theme($my-theme);
  margin: 0;
  height: 100%;
  background-color: #fafafa;
}
