@import '~@angular/material/theming';
@import "~bootstrap/dist/css/bootstrap.css";
@import '~firebaseui/dist/firebaseui.css';

@include mat-core();

$photogram-theme-primary: mat-palette($mat-indigo, 500);
$photogram-theme-accent: mat-palette($mat-green, 500);
$photogram-theme-warn: mat-palette($mat-green, A400);

$photogram-theme: mat-light-theme(
  $photogram-theme-primary,
  $photogram-theme-accent,
  $photogram-theme-warn,
);

html, body {
  @include angular-material-theme($photogram-theme);
  height: 100vh;
  background-color: #fafafa;
  margin: 0;
}

.spacer {
  flex: 1 1 auto;
}
